Repository huggingface/lerobot, pull requests merged in 2024-07, with the labels that each got.

#300 Cleanup config defaults
  lerobot/configs/default.yaml
  lerobot/configs/policy/act.yaml
  lerobot/configs/policy/act_real.yaml
  lerobot/configs/policy/act_real_no_state.yaml
  lerobot/configs/policy/diffusion.yaml
  lerobot/configs/policy/tdmpc.yaml
  lerobot/configs/policy/vqbet.yaml
Labels: ✨ Enhancement, 🔧 Config

#314 Make ACT compatible with "observation.environment_state"
  lerobot/common/policies/act/configuration_act.py
  lerobot/common/policies/act/modeling_act.py
  tests/data/save_policy_to_safetensors/aloha_act/actions.safetensors
  tests/data/save_policy_to_safetensors/aloha_act/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/aloha_act/param_stats.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/actions.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/param_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real/actions.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real/output_dict.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real/param_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/actions.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/param_stats.safetensors
Labels: ✨ Enhancement, 🧠 Policies

#312 Add available list of raw repo ids
  lerobot/common/datasets/push_dataset_to_hub/_download_raw.py
  lerobot/scripts/push_dataset_to_hub.py
Labels: 🗃️ Dataset

#288 Add real robot devices and scripts to control real robot
  .gitignore
  docker/lerobot-cpu/Dockerfile
  docker/lerobot-gpu-dev/Dockerfile
  docker/lerobot-gpu/Dockerfile
  lerobot/common/datasets/video_utils.py
  lerobot/common/envs/factory.py
  lerobot/common/robot_devices/cameras/opencv.py
  lerobot/common/robot_devices/cameras/utils.py
  lerobot/common/robot_devices/motors/dynamixel.py
  lerobot/common/robot_devices/motors/utils.py
  lerobot/common/robot_devices/robots/factory.py
  lerobot/common/robot_devices/robots/koch.py
  lerobot/common/robot_devices/robots/utils.py
  lerobot/common/robot_devices/utils.py
  lerobot/common/utils/utils.py
  lerobot/configs/env/koch_real.yaml
  lerobot/configs/policy/act_koch_real.yaml
  lerobot/scripts/control_robot.py
  lerobot/scripts/eval.py
  media/koch/follower_90_degree.png
  media/koch/follower_horizontal.png
  media/koch/leader_90_degree.png
  media/koch/leader_horizontal.png
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_cameras.py
  tests/test_control_robot.py
  tests/test_motors.py
  tests/test_robots.py
  tests/test_visualize_dataset.py
  tests/utils.py
Labels: ✨ Enhancement, 🌍 Real world

#319 Fix ACT temporal ensembling
  examples/advanced/1_train_act_pusht/act_pusht.yaml
  lerobot/common/policies/act/configuration_act.py
  lerobot/common/policies/act/modeling_act.py
  lerobot/configs/policy/act.yaml
  lerobot/configs/policy/act_real.yaml
  lerobot/configs/policy/act_real_no_state.yaml
  tests/test_policies.py
Labels: 🐛 Bug, 🧠 Policies

#322 Improve error message when attempting to overwrite a training output folder
  lerobot/scripts/train.py
Labels: 📝 Documentation

#318 Fix datasets missing versions
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/push_dataset_to_hub/CODEBASE_VERSION.md
  lerobot/common/datasets/push_dataset_to_hub/_download_raw.py
  lerobot/common/datasets/push_dataset_to_hub/aloha_hdf5_format.py
  lerobot/common/datasets/push_dataset_to_hub/cam_png_format.py
  lerobot/common/datasets/push_dataset_to_hub/dora_parquet_format.py
  lerobot/common/datasets/push_dataset_to_hub/pusht_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/umi_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/xarm_pkl_format.py
  lerobot/common/datasets/utils.py
  lerobot/scripts/control_robot.py
  lerobot/scripts/push_dataset_to_hub.py
Labels: ✨ Enhancement, 🗃️ Dataset

#277 Improve visualize_dataset_html.py
  lerobot/scripts/visualize_dataset_html.py
  lerobot/scripts/visualize_dataset_template.html
  poetry.lock
  pyproject.toml
  tests/test_visualize_dataset_html.py
Labels: ✨ Enhancement, 👀 Visualization

#332 Detect secrets in pre-commit
  .pre-commit-config.yaml
Labels: ⚙️ Infra/CI

#323 Make sure policies don't mutate the batch
  lerobot/common/policies/act/modeling_act.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
  lerobot/common/policies/normalize.py
  lerobot/common/policies/tdmpc/modeling_tdmpc.py
  lerobot/common/policies/vqbet/modeling_vqbet.py
  tests/test_policies.py
Labels: 🧠 Policies
