Repository huggingface/lerobot, pull requests merged in 2024-09, with the labels that each got.

#422 Raise ValueError if horizon is incompatible with downsampling
  lerobot/common/policies/diffusion/configuration_diffusion.py
Labels: 🧠 Policies

#433 Fix slow camera fps with Aloha
  lerobot/scripts/control_robot.py
Labels: 🐛 Bug, ✨ Enhancement, 🌍 Real world

#443 Fix nightlies
  lerobot/scripts/eval.py
  poetry.lock
  pyproject.toml
Labels: 🐛 Bug, ➡️ Dependencies

#448 Don't use async envs by default
  lerobot/configs/default.yaml
  lerobot/configs/env/aloha.yaml
  lerobot/configs/env/xarm.yaml
Labels: 🐛 Bug

#442 Fix opencv segmentation fault
  lerobot/common/robot_devices/cameras/opencv.py
  tests/mock_opencv.py
  tests/test_cameras.py
Labels: 🐛 Bug

#453 Fix dataset card
  lerobot/common/datasets/utils.py
Labels: 🐛 Bug, 🗃️ Dataset
