Repository huggingface/lerobot, pull requests merged in 2024-10, with the labels that each got.

#398 Enable CI for robot devices with mocked versions
  .github/workflows/test.yml
  lerobot/__init__.py
  lerobot/common/datasets/compute_stats.py
  lerobot/common/robot_devices/cameras/intelrealsense.py
  lerobot/common/robot_devices/cameras/opencv.py
  lerobot/common/robot_devices/motors/dynamixel.py
  lerobot/scripts/control_robot.py
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/mock_cv2.py
  tests/mock_dynamixel_sdk.py
  tests/mock_pyrealsense2.py
  tests/test_cameras.py
  tests/test_control_robot.py
  tests/test_motors.py
  tests/test_robots.py
  tests/utils.py
Labels: ✨ Enhancement, 🌍 Real world

#409 Add support for Stretch (hello-robot)
  .github/workflows/test.yml
  examples/7_get_started_with_real_robot.md
  examples/8_use_stretch.md
  lerobot/common/robot_devices/cameras/intelrealsense.py
  lerobot/common/robot_devices/cameras/opencv.py
  lerobot/common/robot_devices/cameras/utils.py
  lerobot/common/robot_devices/motors/dynamixel.py
  lerobot/common/robot_devices/robots/factory.py
  lerobot/common/robot_devices/robots/manipulator.py
  lerobot/common/robot_devices/robots/stretch.py
  lerobot/common/robot_devices/robots/utils.py
  lerobot/common/robot_devices/utils.py
  lerobot/configs/robot/aloha.yaml
  lerobot/configs/robot/stretch.yaml
  lerobot/scripts/control_robot.py
  poetry.lock
  pyproject.toml
  tests/mock_cv2.py
  tests/mock_pyrealsense2.py
  tests/test_cameras.py
Labels: 🌍 Real world

#429 Add policy/act_aloha_real.yaml + env/act_real.yaml
  examples/9_use_aloha.md
  lerobot/__init__.py
  lerobot/common/robot_devices/robots/manipulator.py
  lerobot/configs/env/aloha_real.yaml
  lerobot/configs/policy/act_aloha_real.yaml
  lerobot/configs/policy/act_real_no_state.yaml
  lerobot/scripts/control_robot.py
  poetry.lock
  tests/conftest.py
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_aloha_real/actions.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_aloha_real/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_aloha_real/output_dict.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_aloha_real/param_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/actions.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/output_dict.safetensors
  tests/data/save_policy_to_safetensors/dora_aloha_real_act_real_no_state/param_stats.safetensors
  tests/test_control_robot.py
  tests/test_datasets.py
  tests/test_policies.py
Labels: ✨ Enhancement
