Repository huggingface/lerobot, pull requests merged in 2024-08, with the labels that each got.

#188 Add visualize_dataset_html with `http.server`
  lerobot/scripts/visualize_dataset.py
  lerobot/scripts/visualize_dataset_html.py
  lerobot/templates/visualize_dataset_template.html
  poetry.lock
  pyproject.toml
  tests/test_visualize_dataset_html.py
Labels: ✨ Enhancement, 🗃️ Dataset

#357 Fix CI builds
  .github/workflows/build-docker-images.yml
Labels: ⚙️ Infra/CI

#326 Improve control robot ; Add process to configure motor indices
  README.md
  docker/lerobot-cpu/Dockerfile
  docker/lerobot-gpu-dev/Dockerfile
  docker/lerobot-gpu/Dockerfile
  examples/7_get_started_with_real_robot.md
  lerobot/common/datasets/utils.py
  lerobot/common/datasets/video_utils.py
  lerobot/common/robot_devices/cameras/opencv.py
  lerobot/common/robot_devices/cameras/utils.py
  lerobot/common/robot_devices/motors/dynamixel.py
  lerobot/common/robot_devices/robots/factory.py
  lerobot/common/robot_devices/robots/koch.py
  lerobot/common/utils/utils.py
  lerobot/configs/robot/koch.yaml
  lerobot/scripts/control_robot.py
  lerobot/scripts/push_dataset_to_hub.py
  media/koch/follower_90_degree.png
  media/koch/follower_horizontal.png
  media/koch/follower_rest.webp
  media/koch/follower_rotated.webp
  media/koch/follower_zero.webp
  media/koch/leader_90_degree.png
  media/koch/leader_horizontal.png
  media/koch/leader_rest.webp
  media/koch/leader_rotated.webp
  media/koch/leader_zero.webp
  media/tutorial/koch_v1_1_leader_follower.webp
  media/tutorial/visualize_dataset_html.webp
  poetry.lock
  pyproject.toml
  tests/conftest.py
  tests/test_control_robot.py
  tests/test_datasets.py
  tests/test_motors.py
  tests/utils.py
Labels: 🌍 Real world

#363 Add dataset cards
  examples/7_get_started_with_real_robot.md
  lerobot/common/datasets/utils.py
  lerobot/scripts/control_robot.py
  lerobot/scripts/push_dataset_to_hub.py
Labels: 🗃️ Dataset

#365 Fix input dim
  lerobot/common/policies/vqbet/modeling_vqbet.py
Labels: 🐛 Bug, 🧠 Policies

#325 Improve discoverability on the hub
  .gitignore
  lerobot/common/policies/act/modeling_act.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
  lerobot/common/policies/tdmpc/modeling_tdmpc.py
  lerobot/common/policies/vqbet/modeling_vqbet.py
Labels: ✨ Enhancement, 🧠 Policies

#376 Make sure `init_hydra_config` does not require any keys
  lerobot/common/utils/utils.py
  lerobot/scripts/eval.py
  lerobot/scripts/train.py
  tests/test_utils.py
Labels: 🐛 Bug

#379 Make gripper_open_degree a config param
  lerobot/common/robot_devices/robots/koch.py
  lerobot/configs/robot/koch.yaml
Labels: ✨ Enhancement, 🌍 Real world

#373 Add safety limits on relative action target
  lerobot/common/robot_devices/robots/koch.py
  lerobot/configs/robot/koch.yaml
Labels: ✨ Enhancement, 🌍 Real world

#395 Fix safe_action
  lerobot/common/robot_devices/robots/koch.py
Labels: 🐛 Bug
