Repository huggingface/lerobot, pull requests merged in 2024-05, with the labels that each got.

#139 Relax version contraints & poetry lock
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Labels: ➡️ Dependencies

#147 Override pretrained model config
  lerobot/common/policies/factory.py
Labels: 🔧 Config

#148 Update dev docker build
  docker/lerobot-gpu/Dockerfile
Labels: ⚙️ Infra/CI

#145 Remove dependencies upper bounds constraints
  poetry.lock
  pyproject.toml
Labels: ➡️ Dependencies

#165 Fix hanging in visualize_dataset.py when num_workers > 0
  lerobot/scripts/visualize_dataset.py
Labels: 🐛 Bug

#174 Fix #173 - Require gym-pusht to be installed for test_examples_3_and_2
  .github/workflows/test.yml
  tests/test_examples.py
  tests/utils.py
Labels: 🐛 Bug, ✅ Tests, ⚙️ Infra/CI

#176 Limit datasets major update
  poetry.lock
  pyproject.toml
Labels: 🗃️ Dataset, ➡️ Dependencies

#182 Port SpatialSoftmax and remove Robomimic dependency
  lerobot/common/policies/diffusion/modeling_diffusion.py
  poetry.lock
  pyproject.toml
  tests/data/save_policy_to_safetensors/pusht_diffusion/actions.safetensors
  tests/data/save_policy_to_safetensors/pusht_diffusion/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/pusht_diffusion/output_dict.safetensors
  tests/data/save_policy_to_safetensors/pusht_diffusion/param_stats.safetensors
Labels: ✨ Enhancement, 🧠 Policies, ➡️ Dependencies

#185 Fix act action queue
  lerobot/common/policies/act/modeling_act.py
  tests/data/save_policy_to_safetensors/aloha_act/actions.safetensors
  tests/data/save_policy_to_safetensors/aloha_act/grad_stats.safetensors
Labels: 🐛 Bug, 🧠 Policies

#186 Act temporal ensembling
  lerobot/common/policies/act/configuration_act.py
  lerobot/common/policies/act/modeling_act.py
  lerobot/configs/policy/act.yaml
Labels: ✨ Enhancement, 🧠 Policies

#193 Explain why n_encoder_layers=1
  lerobot/common/policies/act/configuration_act.py
  lerobot/configs/policy/act.yaml
Labels: 📝 Documentation, 🧠 Policies

#198 Update the README to reflect WandB disabled by default
  README.md
Labels: 📝 Documentation

#158 Adds split_by_episodes to LeRobotDataset
  examples/4_calculate_validation_loss.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/utils.py
  tests/test_examples.py
  tests/test_utils.py
Labels: ✨ Enhancement, 🗃️ Dataset

#200 Hot fix to compute validation loss example test
  examples/4_calculate_validation_loss.py
  lerobot/common/datasets/utils.py
  tests/test_examples.py
Labels: 🐛 Bug, 🔦 Example

#199 Add Automatic Mixed Precision option for training and evaluation.
  Makefile
  lerobot/configs/default.yaml
  lerobot/scripts/eval.py
  lerobot/scripts/train.py
Labels: ⚡️ Performance

#196 Add tutorials for using the training script and
  Makefile
  README.md
  examples/4_train_policy_with_script.md
  examples/advanced/1_train_act_pusht/act_pusht.yaml
  examples/advanced/1_train_act_pusht/train_act_pusht.md
  examples/advanced/2_calculate_validation_loss.py
  tests/test_examples.py
Labels: 📝 Documentation

#189 Add dev docker image
  .github/workflows/build-docker-images.yml
  .gitignore
  docker/lerobot-gpu-dev/Dockerfile
  docker/lerobot-gpu/Dockerfile
Labels: ⚙️ Infra/CI

#206 Adds a tutorial section on how to use arbitrary configuration files
  examples/4_train_policy_with_script.md
Labels: 📝 Documentation

#213 throw an error if config.do_maks_loss and action_is_pad not provided in batch
  lerobot/common/policies/diffusion/modeling_diffusion.py
Labels: ✨ Enhancement, 🧠 Policies

#216 Fix nightly builds
  .github/workflows/build-docker-images.yml
Labels: ⚙️ Infra/CI

#205 Add resume training
  Makefile
  README.md
  examples/4_train_policy_with_script.md
  examples/5_resume_training.md
  lerobot/common/datasets/factory.py
  lerobot/common/logger.py
  lerobot/common/utils/utils.py
  lerobot/configs/default.yaml
  lerobot/configs/policy/act.yaml
  lerobot/configs/policy/diffusion.yaml
  lerobot/scripts/eval.py
  lerobot/scripts/train.py
  poetry.lock
  pyproject.toml
  tests/test_utils.py
Labels: ✨ Enhancement

#219 Handle `crop_shape=None` in Diffusion Policy
  lerobot/common/policies/diffusion/configuration_diffusion.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
  poetry.lock
Labels: 🐛 Bug, 🧠 Policies

#222 Enable cuda for end-to-end tests
  .github/workflows/nightly-tests.yml
  Makefile
Labels: ✅ Tests, ⚙️ Infra/CI

#201 Add `aloha_dora_format.py`
  lerobot/common/datasets/push_dataset_to_hub/aloha_dora_format.py
  lerobot/scripts/push_dataset_to_hub.py
Labels: ✨ Enhancement, 🗃️ Dataset

#223 Refactor env to add key word arguments from config yaml
  lerobot/common/datasets/push_dataset_to_hub/aloha_dora_format.py
  lerobot/common/envs/factory.py
  lerobot/configs/default.yaml
  lerobot/configs/env/aloha.yaml
  lerobot/configs/env/pusht.yaml
  lerobot/configs/env/xarm.yaml
  lerobot/scripts/train.py
Labels: 🧪 Simulation, 🔄 Refactor, 🔧 Config

#229 Add `MultiLerobotDataset` for training with multiple `LeRobotDataset`s
  lerobot/common/datasets/compute_stats.py
  lerobot/common/datasets/factory.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/utils.py
  lerobot/configs/default.yaml
  lerobot/scripts/push_dataset_to_hub.py
  lerobot/scripts/train.py
  tests/test_datasets.py
Labels: ✨ Enhancement, 🗃️ Dataset

#215 Improve documentation on VAE encoder inputs
  lerobot/common/policies/act/modeling_act.py
Labels: 📝 Documentation, 🧠 Policies

#217 add EpisodeAwareSampler
  lerobot/common/datasets/sampler.py
  lerobot/configs/policy/diffusion.yaml
  lerobot/scripts/train.py
  tests/test_sampler.py
Labels: ✨ Enhancement, 🗃️ Dataset

#235 Typo in examples\4_train_policy_with_script.md
  examples/4_train_policy_with_script.md
Labels: 📝 Documentation
