Repository huggingface/lerobot, pull requests merged in 2024-06, with the labels that each got.

#241 Fix `visualize_dataset.py --help`
  lerobot/scripts/visualize_dataset.py
Labels: 🐛 Bug

#253 Make `display_sys_info.py` install-agnostic
  lerobot/scripts/display_sys_info.py
Labels: ✨ Enhancement

#249 add root argument to the dataset visualizer to visualize local datasets
  lerobot/scripts/visualize_dataset.py
  tests/test_visualize_dataset.py
Labels: ✨ Enhancement

#254 feat(ci): add trufflehog secrets detection
  .github/workflows/trufflehog.yml
Labels: ⚙️ Infra/CI

#234 Add data augmentation in LeRobotDataset
  examples/6_add_image_transforms.py
  lerobot/common/datasets/factory.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/transforms.py
  lerobot/configs/default.yaml
  lerobot/scripts/visualize_image_transforms.py
  tests/data/save_image_transforms_to_safetensors/default_transforms.safetensors
  tests/data/save_image_transforms_to_safetensors/single_transforms.safetensors
  tests/scripts/save_image_transforms_to_safetensors.py
  tests/test_image_transforms.py
Labels: ✨ Enhancement, 🗃️ Dataset

#231 Improve `push_dataset_to_hub` API + Add unit tests
  .github/workflows/test.yml
  README.md
  lerobot/common/datasets/push_dataset_to_hub/_download_raw.py
  lerobot/common/datasets/push_dataset_to_hub/aloha_hdf5_format.py
  lerobot/common/datasets/push_dataset_to_hub/dora_parquet_format.py
  lerobot/common/datasets/push_dataset_to_hub/pusht_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/umi_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/xarm_pkl_format.py
  lerobot/scripts/push_dataset_to_hub.py
  tests/test_push_dataset_to_hub.py
  tests/utils.py
Labels: ✨ Enhancement, 🗃️ Dataset

#273 Fix nightlies
  docker/lerobot-cpu/Dockerfile
  docker/lerobot-gpu/Dockerfile
Labels: 🐛 Bug, ⚙️ Infra/CI

#271 added visualization for min and max transforms
  lerobot/scripts/visualize_image_transforms.py
  tests/test_image_transforms.py
Labels: ✨ Enhancement, 🗃️ Dataset

#218 Add multi-image support to diffusion policy
  lerobot/common/policies/diffusion/configuration_diffusion.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
Labels: ✨ Enhancement, 🧠 Policies

#278 fix Unet global_cond_dim to use state dim, not action dim
  lerobot/common/policies/diffusion/modeling_diffusion.py
Labels: 🧠 Policies

#275 Update readme to detail the lerobot dataset format
  README.md
Labels: 📝 Documentation

#279 Bug fix: missing attention mask in VAE encoder in ACT policy
  lerobot/common/policies/act/modeling_act.py
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/actions.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/grad_stats.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/output_dict.safetensors
  tests/data/save_policy_to_safetensors/aloha_act_1000_steps/param_stats.safetensors
  tests/scripts/save_policy_to_safetensors.py
  tests/test_policies.py
Labels: 🐛 Bug, 🧠 Policies

#220 Enable `video_reader` backend
  docker/lerobot-gpu-dev/Dockerfile
  lerobot/common/datasets/_video_benchmark/capture_camera_feed.py
  lerobot/common/datasets/_video_benchmark/run_video_benchmark.py
  lerobot/common/datasets/factory.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/push_dataset_to_hub/cam_png_format.py
  lerobot/common/datasets/video_utils.py
  lerobot/configs/default.yaml
  lerobot/scripts/push_dataset_to_hub.py
  poetry.lock
  pyproject.toml
Labels: 🗃️ Dataset, ⚙️ Infra/CI, ⚡️ Performance

#166 Add VQ-BeT
  lerobot/__init__.py
  lerobot/common/policies/factory.py
  lerobot/common/policies/vqbet/configuration_vqbet.py
  lerobot/common/policies/vqbet/modeling_vqbet.py
  lerobot/common/policies/vqbet/vqbet_utils.py
  lerobot/configs/policy/vqbet.yaml
  lerobot/scripts/train.py
  tests/test_available.py
  tests/test_policies.py
Labels: 🧠 Policies

#292 Add test to make sure policy dataclass configs match yaml configs
  lerobot/common/policies/factory.py
  lerobot/configs/policy/diffusion.yaml
  lerobot/configs/policy/tdmpc.yaml
  tests/scripts/save_policy_to_safetensors.py
  tests/test_policies.py
Labels: 🧠 Policies, ✅ Tests
