Repository huggingface/lerobot, pull requests merged in 2025-06, with the labels that each got.

#1182 (hotfix): nightly CI by clipping pymunk version below 7.0.0
  pyproject.toml
Labels: bug, CI, dependencies

#1184 docs: change installation and cameras docs
  docs/source/cameras.mdx
  docs/source/installation.mdx
Labels: documentation, enhancement

#1181 fix: several fixes identified in the docs PR
  lerobot/calibrate.py
  lerobot/common/datasets/utils.py
  lerobot/common/robots/lekiwi/config_lekiwi.py
  lerobot/common/teleoperators/koch_leader/koch_leader.py
  lerobot/record.py
  lerobot/replay.py
  lerobot/setup_motors.py
  lerobot/teleoperate.py
Labels: bug

#1136 Refactor LeKiwi
  examples/robots/lekiwi_client_app.py
  lerobot/common/motors/feetech/tables.py
  lerobot/common/robots/lekiwi/lekiwi.py
  lerobot/common/robots/lekiwi/lekiwi_client.py
Labels: enhancement, refactor, robots

#1190 fix(control_utils): remove robot_type from the observation frame
  lerobot/common/robot_devices/control_utils.py
Labels: bug, dataset, CI

#1193 chore(init): remove `smolvla` from available_policies to skip it from the CI tests
  lerobot/__init__.py
Labels: policies, CI

#1175 Add SmolVLA
  lerobot/__init__.py
  lerobot/common/policies/__init__.py
  lerobot/common/policies/factory.py
  lerobot/common/policies/smolvla/configuration_smolvla.py
  lerobot/common/policies/smolvla/modeling_smolvla.py
  lerobot/common/policies/smolvla/smolvlm_with_expert.py
  lerobot/common/robot_devices/control_utils.py
  pyproject.toml
  tests/test_available.py
Labels: enhancement, policies

#1207 feat(docs): add docs on backward compatibility
  docs/source/_toctree.yml
  docs/source/backwardcomp.mdx
Labels: documentation

#1211 replaced OBS_ROBOT with OBS_STATE constant
  lerobot/common/policies/pi0fast/modeling_pi0fast.py
  lerobot/common/policies/smolvla/modeling_smolvla.py
Labels: bug, policies

#1217 Fix LeKiwi example
  examples/lekiwi/evaluate.py
Labels: documentation, refactor

#1250 Update tutorial link
  README.md
Labels: bug, documentation

#1261 Match motor names with ids lekiwi
  examples/lekiwi/record.py
  lerobot/common/robots/lekiwi/config_lekiwi.py
  lerobot/common/robots/lekiwi/lekiwi.py
  lerobot/common/robots/lekiwi/lekiwi_client.py
  lerobot/common/robots/lekiwi/lekiwi_host.py
Labels: bug, robots

#1256 fix issues: checkpoints keys mismatch and 'task' tokenisation in smolvla
  lerobot/common/policies/smolvla/modeling_smolvla.py
  pyproject.toml
Labels: bug, enhancement, policies

#1268 fix(docs): update realsense documentation
  docs/source/cameras.mdx
  lerobot/find_cameras.py
Labels: bug, documentation

#1120 Use HF Papers
  lerobot/common/datasets/v2/batch_convert_dataset_v1_to_v2.py
  lerobot/common/policies/act/modeling_act.py
  lerobot/common/policies/diffusion/configuration_diffusion.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
  lerobot/common/policies/pi0fast/modeling_pi0fast.py
  lerobot/common/policies/tdmpc/modeling_tdmpc.py
  lerobot/common/policies/vqbet/modeling_vqbet.py
  lerobot/common/policies/vqbet/vqbet_utils.py
Labels: documentation, enhancement

#1274 Skip normalization parameters in load_smolvla
  lerobot/common/policies/smolvla/modeling_smolvla.py
Labels: bug, policies, dataset

#1284 fix(record): no teleop needed when running with policy
  docs/source/getting_started_real_world_robot.mdx
  lerobot/record.py
Labels: bug, configuration

#1286 chore(teleop): print calibration path saved
  lerobot/common/teleoperators/so100_leader/so100_leader.py
  lerobot/common/teleoperators/so101_leader/so101_leader.py
Labels: enhancement

#1297 Fixing `PI0` Policy
  lerobot/common/policies/pi0/paligemma_with_expert.py
Labels: bug, policies

#1308 docs: fix imitation learning robots docs command
  docs/source/il_robots.mdx
Labels: documentation

#1343 There can be only one!!
  README.md
Labels: bug, documentation

#1384 Update assembly instructions to match outputs from 'python -m lerobot.setup_motors' script
  lerobot/common/robots/so101_follower/so101.mdx
Labels: documentation

#1382 Feat: Improve hub integration
  MANIFEST.in
  Makefile
  docs/source/il_robots.mdx
  lerobot/common/policies/pretrained.py
  lerobot/configs/policies.py
  lerobot/configs/train.py
  lerobot/record.py
  lerobot/scripts/push_pretrained.py
  lerobot/scripts/train.py
  lerobot/templates/lerobot_modelcard_template.md
  tests/artifacts/policies/save_policy_to_safetensors.py
  tests/datasets/test_datasets.py
  tests/policies/test_policies.py
Labels: documentation, enhancement, policies

#1020 Add direct access to action chunks
  lerobot/common/constants.py
  lerobot/common/policies/act/modeling_act.py
  lerobot/common/policies/diffusion/modeling_diffusion.py
  lerobot/common/policies/pi0/modeling_pi0.py
  lerobot/common/policies/pi0fast/modeling_pi0fast.py
  lerobot/common/policies/pretrained.py
  lerobot/common/policies/sac/modeling_sac.py
  lerobot/common/policies/sac/reward_model/modeling_classifier.py
  lerobot/common/policies/smolvla/modeling_smolvla.py
  lerobot/common/policies/tdmpc/modeling_tdmpc.py
  lerobot/common/policies/vqbet/modeling_vqbet.py
Labels: enhancement, policies
