Repository huggingface/lerobot, pull requests merged in 2025-02, with the labels that each got.

#666 User/pepijn/2025 01 31 improved tutorial so100
  examples/10_use_so100.md
  lerobot/common/robot_devices/motors/feetech.py
  tests/mock_scservo_sdk.py
Labels: 📝 Documentation

#719 Fixes following #670
  lerobot/common/policies/pi0/modeling_pi0.py
  lerobot/common/utils/wandb_utils.py
  lerobot/scripts/train.py
Labels: 🐛 Bug

#693 Add frame level task
  examples/port_datasets/pusht_zarr.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/utils.py
  lerobot/common/robot_devices/control_utils.py
  lerobot/scripts/control_robot.py
  tests/test_datasets.py
Labels: 🗃️ Dataset

#730 Fix wandb logging
  lerobot/scripts/train.py
Labels: 🐛 Bug

#621 Conform pyproject to PEP 621
  .github/workflows/quality.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Labels: ➡️ Dependencies

#737 Remove `poetry.lock`
  .github/workflows/quality.yml
  .github/workflows/test-docker-build.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  CONTRIBUTING.md
  Makefile
  docker/lerobot-gpu-dev/Dockerfile
  examples/7_get_started_with_real_robot.md
  poetry.lock
Labels: ⚙️ Infra/CI, ➡️ Dependencies

#724 Add mobile so100
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  lerobot/common/robot_devices/control_configs.py
  lerobot/common/robot_devices/robots/configs.py
  lerobot/common/robot_devices/robots/lekiwi_remote.py
  lerobot/common/robot_devices/robots/manipulator.py
  lerobot/common/robot_devices/robots/mobile_manipulator.py
  lerobot/common/robot_devices/robots/utils.py
  lerobot/scripts/control_robot.py
  media/lekiwi/mobile_calib_rest.webp
  media/lekiwi/mobile_calib_rotated.webp
  media/lekiwi/mobile_calib_zero.webp
  media/lekiwi/motor_ids.webp
  pyproject.toml
Labels: 📝 Documentation, ✨ Enhancement, 🌍 Real world

#711 LeRobotDataset v2.1
  README.md
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/7_get_started_with_real_robot.md
  examples/port_datasets/pusht_zarr.py
  lerobot/common/constants.py
  lerobot/common/datasets/backward_compatibility.py
  lerobot/common/datasets/compute_stats.py
  lerobot/common/datasets/factory.py
  lerobot/common/datasets/image_writer.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/push_dataset_to_hub/CODEBASE_VERSION.md
  lerobot/common/datasets/utils.py
  lerobot/common/datasets/v2/convert_dataset_v1_to_v2.py
  lerobot/common/datasets/v21/_remove_language_instruction.py
  lerobot/common/datasets/v21/batch_convert_dataset_v20_to_v21.py
  lerobot/common/datasets/v21/convert_dataset_v20_to_v21.py
  lerobot/common/datasets/v21/convert_stats.py
  lerobot/common/datasets/video_utils.py
  lerobot/common/policies/normalize.py
  lerobot/common/robot_devices/control_configs.py
  lerobot/common/robot_devices/control_utils.py
  lerobot/common/utils/utils.py
  lerobot/configs/default.py
  lerobot/scripts/control_robot.py
  lerobot/scripts/visualize_dataset.py
  lerobot/scripts/visualize_dataset_html.py
  lerobot/scripts/visualize_image_transforms.py
  pyproject.toml
  tests/fixtures/constants.py
  tests/fixtures/dataset_factories.py
  tests/fixtures/files.py
  tests/fixtures/hub.py
  tests/test_cameras.py
  tests/test_compute_stats.py
  tests/test_control_robot.py
  tests/test_datasets.py
  tests/test_delta_timestamps.py
  tests/test_examples.py
  tests/test_image_writer.py
  tests/test_push_dataset_to_hub.py
  tests/test_robots.py
Labels: ✨ Enhancement, 🗃️ Dataset
