Repository huggingface/lerobot, pull requests merged in 2025-03, with the labels that each got.

#799 fix(examples): Add Tensor type check
  examples/3_train_policy.py
Labels: 🐛 Bug

#804 refactor(test): remove duplicated code in conftest.py
  tests/conftest.py
Labels: ✅ Tests

#811 change wheel setup in kinematics
  lerobot/common/robot_devices/robots/mobile_manipulator.py
Labels: ✨ Enhancement

#803 Add kiwi to readme
  README.md
  media/lekiwi/kiwi.webp
Labels: 📝 Documentation

#774 change "actions_id_pad" to "actions_is_pad"(🐛 Bug)
  lerobot/common/policies/pi0/modeling_pi0.py
Labels: 🐛 Bug

#796 Fix printout in make_cameras_from_configs
  lerobot/common/robot_devices/cameras/utils.py
Labels: 🐛 Bug

#793 Fix doc
  examples/10_use_so100.md
Labels: 📝 Documentation

#731 docs: update installation instructions to use uv instead of conda
  README.md
Labels: 📝 Documentation

#815 chore(doc): add star history graph to the README.md
  README.md
Labels: 📝 Documentation, ✨ Enhancement

#810 Support for discrete actions
  lerobot/scripts/visualize_dataset_html.py
Labels: ✨ Enhancement, 👀 Visualization

#812 refactor(config): Move device & amp args to PreTrainedConfig
  Makefile
  lerobot/common/policies/factory.py
  lerobot/common/policies/pi0/configuration_pi0.py
  lerobot/common/policies/pi0/conversion_scripts/benchmark.py
  lerobot/common/policies/pi0/conversion_scripts/compare_with_jax.py
  lerobot/common/policies/pretrained.py
  lerobot/common/robot_devices/control_configs.py
  lerobot/common/robot_devices/control_utils.py
  lerobot/common/utils/utils.py
  lerobot/configs/eval.py
  lerobot/configs/policies.py
  lerobot/configs/train.py
  lerobot/scripts/control_robot.py
  lerobot/scripts/eval.py
  lerobot/scripts/train.py
  tests/scripts/save_policy_to_safetensors.py
  tests/test_control_robot.py
  tests/test_datasets.py
  tests/test_policies.py
Labels: 🐛 Bug, 🔄 Refactor, 🔧 Config

#830 :bug: Remove `map_location=device` that no longer exists when loading DiffusionPolicy from_pretained after commit 5e94738
  examples/2_evaluate_pretrained_policy.py
Labels: 🐛 Bug

#829 Fix gpu nightly
  tests/test_policies.py
Labels: ✅ Tests, ⚙️ Infra/CI

#838 Fix cpu nightly
  tests/test_policies.py
Labels: 🐛 Bug

#807 feat: add support for external plugin config dataclasses
  lerobot/configs/parser.py
  tests/configs/test_plugin_loading.py
Labels: ✨ Enhancement, 🔧 Config

#839 Fix camera rotation error
  lerobot/common/robot_devices/cameras/intelrealsense.py
  lerobot/common/robot_devices/cameras/opencv.py
  tests/test_cameras.py
Labels: 🐛 Bug

#842 chore(deps): remove hydra dependency
  pyproject.toml
Labels: ✨ Enhancement

#843 chore(docs): update instructions for change in device and use_amp
  README.md
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/4_train_policy_with_script.md
  examples/7_get_started_with_real_robot.md
  examples/9_use_aloha.md
Labels: 📝 Documentation

#715 [Port HIL-SERL] Balanced sampler function speed up and refactor to align with train.py
  lerobot/configs/policy/hilserl_classifier.yaml
  lerobot/scripts/train_hilserl_classifier.py
Labels: enhancement

#716 parametrise tolerance_s in visualize_dataset scripts
  lerobot/scripts/visualize_dataset.py
  lerobot/scripts/visualize_dataset_html.py
Labels: enhancement, visualization

#857 Improve pre-commit config
  .pre-commit-config.yaml
Labels: CI

#798 Add torchcodec cpu
  .github/workflows/test.yml
  benchmarks/video/run_video_benchmark.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/video_utils.py
  pyproject.toml
Labels: enhancement, performance

#841 added wandb.run_id to allow resuming without wandb log; updated log m…
  lerobot/common/utils/wandb_utils.py
  lerobot/configs/default.py
  lerobot/configs/train.py
Labels: enhancement

#861 Add end effector action space to hil-serl
  lerobot/common/envs/factory.py
  lerobot/common/policies/sac/configuration_sac.py
  lerobot/common/robot_devices/control_utils.py
  lerobot/configs/env/so100_real.yaml
  lerobot/configs/policy/sac_real.yaml
  lerobot/configs/robot/so100.yaml
  lerobot/scripts/server/actor_server.py
  lerobot/scripts/server/crop_dataset_roi.py
  lerobot/scripts/server/end_effector_control_utils.py
  lerobot/scripts/server/find_joint_limits.py
  lerobot/scripts/server/gym_manipulator.py
  lerobot/scripts/server/kinematics.py
  lerobot/scripts/server/learner_server.py
Labels: enhancement, policies, refactor

#870 User/pepijn/2025 03 17 act different image shapes
  lerobot/common/policies/act/modeling_act.py
Labels: enhancement, policies

#855 [PORT HIL-SERL] Optimize training loop, extract config usage
  lerobot/scripts/server/learner_server.py
Labels: enhancement, performance

#887 chore(scripts): remove deprecated script
  examples/port_datasets/pusht_zarr.py
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_cabinet.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_chair.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_elevator.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_shrimp.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_wash_pan.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/mobile_wipe_wine.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/sim_insertion_human.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/sim_insertion_scripted.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/sim_transfer_cube_human.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/sim_transfer_cube_scripted.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_battery.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_candy.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_coffee.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_coffee_new.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_cups_open.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_fork_pick_up.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_pingpong_test.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_pro_pencil.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_screw_driver.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_tape.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_thread_velcro.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_towel.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_vinh_cup.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_vinh_cup_left.txt
  lerobot/common/datasets/push_dataset_to_hub/_aloha_raw_urls/static_ziploc_slide.txt
  lerobot/common/datasets/push_dataset_to_hub/_diffusion_policy_replay_buffer.py
  lerobot/common/datasets/push_dataset_to_hub/_download_raw.py
  lerobot/common/datasets/push_dataset_to_hub/_encode_datasets.py
  lerobot/common/datasets/push_dataset_to_hub/_umi_imagecodecs_numcodecs.py
  lerobot/common/datasets/push_dataset_to_hub/aloha_hdf5_format.py
  lerobot/common/datasets/push_dataset_to_hub/cam_png_format.py
  lerobot/common/datasets/push_dataset_to_hub/dora_parquet_format.py
  lerobot/common/datasets/push_dataset_to_hub/openx_rlds_format.py
  lerobot/common/datasets/push_dataset_to_hub/pusht_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/umi_zarr_format.py
  lerobot/common/datasets/push_dataset_to_hub/xarm_pkl_format.py
  lerobot/scripts/push_dataset_to_hub.py
Labels: documentation

#886 refactor(teleop): Use queue instead of locks for keyboard teleop
  lerobot/common/teleoperators/keyboard/teleop_keyboard.py
Labels: refactor, robots

#883 fix(deps): constrain PyAV version to resolve OpenCV-python ffmpeg version conflict
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/7_get_started_with_real_robot.md
  examples/8_use_stretch.md
  examples/9_use_aloha.md
  pyproject.toml
Labels: bug, dependencies

#893 fix pi0 action padding name
  lerobot/common/policies/pi0/modeling_pi0.py
Labels: bug, policies

#897 Add offline mode in the configuration for wandb logging
  lerobot/common/utils/wandb_utils.py
  lerobot/configs/default.py
Labels: enhancement, configuration

#911 chore(docs): update docs
  README.md
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/2_evaluate_pretrained_policy.py
  examples/7_get_started_with_real_robot.md
  examples/8_use_stretch.md
  examples/9_use_aloha.md
  lerobot/common/policies/pi0/modeling_pi0.py
Labels: documentation

#915 fix(datasets): cast imgs_dir as Path
  lerobot/common/datasets/video_utils.py
Labels: bug, dataset

#917 docs: add tip for Mac users regarding Terminal permissions for keyboard
  examples/11_use_lekiwi.md
Labels: documentation
