Repository huggingface/lerobot, pull requests merged in 2025-09, with the labels that each got.

#1830 refactor(converters): implement unified tensor conversion function
  src/lerobot/processor/converters.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/normalize_processor.py
  tests/processor/test_converters.py
  tests/processor/test_normalize_processor.py
Labels: enhancement

#1833 refactor(converters): gather converters and refactor the logic
  src/lerobot/processor/__init__.py
  src/lerobot/processor/converters.py
  src/lerobot/processor/core.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/scripts/rl/gym_manipulator.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_converters.py
  tests/processor/test_pipeline.py
Labels: enhancement, refactor, processor

#1844 refactor(processors): update transition handling in RewardClassifierProcessor and InverseKinematicsEEToJoints
  src/lerobot/processor/hil_processor.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
Labels: enhancement

#1845 refactor(processors): unify import statements
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  src/lerobot/datasets/pipeline_features.py
  src/lerobot/policies/factory.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/hil_processor.py
  src/lerobot/processor/joint_observations_processor.py
  src/lerobot/processor/migrate_policy_normalization.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/observation_processor.py
  src/lerobot/processor/rename_processor.py
  src/lerobot/processor/tokenizer_processor.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/scripts/rl/actor.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/teleoperate.py
  src/lerobot/teleoperators/phone/phone_processor.py
  src/lerobot/utils/train_utils.py
  src/lerobot/utils/visualization_utils.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_batch_processor.py
  tests/processor/test_classifier_processor.py
  tests/processor/test_converters.py
  tests/processor/test_device_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_observation_processor.py
  tests/processor/test_pi0_processor.py
  tests/processor/test_pipeline.py
  tests/processor/test_rename_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_smolvla_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
  tests/utils/test_visualization_utils.py
Labels: dependencies, refactor

#1849 refactor(processors): enhance transform_features method across multiple processors
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/joint_observations_processor.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/teleoperators/phone/phone_processor.py
Labels: bug, processor

#1850 chore(processor): rename RobotProcessor -> DataProcessorPipeline
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/datasets/pipeline_features.py
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/factory.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/sac/reward_model/processor_classifier.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/migrate_policy_normalization.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/teleoperate.py
  src/lerobot/utils/control_utils.py
  src/lerobot/utils/train_utils.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_batch_processor.py
  tests/processor/test_classifier_processor.py
  tests/processor/test_device_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_pipeline.py
  tests/processor/test_rename_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
Labels: enhancement

#1853 chore(processor): rename converters function names
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/processor/converters.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/teleoperate.py
  tests/processor/test_converters.py
Labels: enhancement, processor

#1854 chore(processor): add Step suffix to all processors
  docs/source/hilserl.mdx
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/sac/reward_model/processor_classifier.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/hil_processor.py
  src/lerobot/processor/joint_observations_processor.py
  src/lerobot/processor/migrate_policy_normalization.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/observation_processor.py
  src/lerobot/processor/rename_processor.py
  src/lerobot/processor/tokenizer_processor.py
  src/lerobot/scripts/rl/gym_manipulator.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_processor.py
  tests/processor/test_classifier_processor.py
  tests/processor/test_device_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_observation_processor.py
  tests/processor/test_pi0_processor.py
  tests/processor/test_rename_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_smolvla_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
Labels: enhancement, processor

#1855 chore(processor): rename tokenizer field to input tokenizer
  src/lerobot/processor/tokenizer_processor.py
Labels: enhancement, processor

#1858 chore(processor): rename teleop_phone variable names
  src/lerobot/teleoperators/phone/teleop_phone.py
Labels: enhancement, performance

#1859 chore(processor): add type alias RobotProcessorPipeline and PolicyProcessorPipeline
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/factory.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/sac/reward_model/processor_classifier.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/migrate_policy_normalization.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/teleoperate.py
  src/lerobot/utils/control_utils.py
  src/lerobot/utils/train_utils.py
Labels: enhancement, processor

#1863 refactor(processor): Remove scipy dependency: Replace spatial.transform.Rotation with custom implementation
  pyproject.toml
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/utils/rotation.py
Labels: enhancement

#1864 refactor(utils): simplify log_rerun_data function
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  src/lerobot/processor/converters.py
  src/lerobot/record.py
  src/lerobot/teleoperate.py
  src/lerobot/utils/visualization_utils.py
  tests/utils/test_visualization_utils.py
Labels: enhancement, refactor, visualization, processor

#1837 Allow max_relative_target to be a float
  src/lerobot/robots/bi_so100_follower/config_bi_so100_follower.py
  src/lerobot/robots/hope_jr/config_hope_jr.py
  src/lerobot/robots/koch_follower/config_koch_follower.py
  src/lerobot/robots/lekiwi/config_lekiwi.py
  src/lerobot/robots/so100_follower/config_so100_follower.py
  src/lerobot/robots/so101_follower/config_so101_follower.py
  src/lerobot/robots/stretch3/configuration_stretch3.py
  src/lerobot/robots/utils.py
  src/lerobot/robots/viperx/config_viperx.py
Labels: bug, enhancement

#1873 fix(processor): recover type inference for use of processors
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/teleoperate.py
Labels: enhancement, processor

#1889 fix (koch): Disable motor torque before applying calibration logic
  src/lerobot/robots/koch_follower/koch_follower.py
  src/lerobot/teleoperators/koch_leader/koch_leader.py
Labels: bug, robots

#1902 fix(normalizer_processor): reconstruct the stats dictionary from tensor stats
  src/lerobot/processor/converters.py
  src/lerobot/processor/normalize_processor.py
  tests/processor/test_normalize_processor.py
Labels: bug, processor

#1905 chore(processor): remove action prefixes
  src/lerobot/processor/hil_processor.py
  src/lerobot/teleoperators/phone/phone_processor.py
Labels: bug, processor

#1908 refactor(processor): clarify action types, distinguish PolicyAction, RobotAction, and EnvAction
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/converters.py
  src/lerobot/processor/core.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/hil_processor.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/teleoperate.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_batch_processor.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_sac_processor.py
Labels: refactor, processor

#1921 fix(processor): phone examples
  examples/phone_to_so100/record.py
  src/lerobot/datasets/utils.py
  src/lerobot/processor/pipeline.py
  src/lerobot/record.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/teleoperators/phone/phone_processor.py
Labels: bug

#1925 chore(processor): remove merge_transitions functions
  docs/source/introduction_processors.mdx
  src/lerobot/processor/__init__.py
  src/lerobot/processor/converters.py
  tests/processor/test_converters.py
Labels: refactor, processor

#1927 refactor(processors): move processors out of configs
  examples/phone_to_so100/replay.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/factory.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/teleoperate.py
Labels: refactor, processor

#1928 chore(processor): streamline combine_features_dict
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/factory.py
  src/lerobot/record.py
  src/lerobot/replay.py
Labels: refactor, processor

#1929 chore(policies): use new constants
  src/lerobot/constants.py
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/smolvla/modeling_smolvla.py
Labels: enhancement

#1930 fix(deps): right version transformers
  pyproject.toml
  src/lerobot/scripts/eval.py
Labels: bug, dependencies

#1931 fix(tests): add none + disable async tests for now
  src/lerobot/datasets/pipeline_features.py
  tests/async_inference/test_helpers.py
Labels: tests

#1926 refactor(processors): several additions
  docs/source/introduction_processors.mdx
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  pyproject.toml
  src/lerobot/constants.py
  src/lerobot/datasets/pipeline_features.py
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/smolvla/modeling_smolvla.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/converters.py
  src/lerobot/processor/factory.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/scripts/eval.py
  src/lerobot/teleoperate.py
  tests/async_inference/test_helpers.py
  tests/processor/test_converters.py
Labels: refactor, processor

#1932 refactor(processor): transform_features loop + EAFP
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/teleoperators/phone/phone_processor.py
Labels: refactor, processor

#1412 Dataset v3
  README.md
  benchmarks/video/run_video_benchmark.py
  docs/source/_toctree.yml
  docs/source/porting_datasets_v3.mdx
  examples/1_load_lerobot_dataset.py
  examples/port_datasets/display_error_files.py
  examples/port_datasets/port_droid.py
  examples/port_datasets/slurm_aggregate_shards.py
  examples/port_datasets/slurm_port_shards.py
  examples/port_datasets/slurm_upload.py
  pyproject.toml
  src/lerobot/datasets/aggregate.py
  src/lerobot/datasets/backward_compatibility.py
  src/lerobot/datasets/lerobot_dataset.py
  src/lerobot/datasets/online_buffer.py
  src/lerobot/datasets/sampler.py
  src/lerobot/datasets/utils.py
  src/lerobot/datasets/v2/batch_convert_dataset_v1_to_v2.py
  src/lerobot/datasets/v2/convert_dataset_v1_to_v2.py
  src/lerobot/datasets/v21/_remove_language_instruction.py
  src/lerobot/datasets/v21/batch_convert_dataset_v20_to_v21.py
  src/lerobot/datasets/v21/convert_dataset_v20_to_v21.py
  src/lerobot/datasets/v21/convert_stats.py
  src/lerobot/datasets/v30/convert_dataset_v21_to_v30.py
  src/lerobot/datasets/video_utils.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/robots/viperx/README.md
  src/lerobot/scripts/rl/crop_dataset_roi.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/scripts/train.py
  src/lerobot/scripts/visualize_dataset.py
  src/lerobot/scripts/visualize_dataset_html.py
  src/lerobot/templates/visualize_dataset_homepage.html
  src/lerobot/templates/visualize_dataset_template.html
  src/lerobot/utils/buffer.py
  src/lerobot/utils/utils.py
  tests/artifacts/datasets/save_dataset_to_safetensors.py
  tests/datasets/test_aggregate.py
  tests/datasets/test_datasets.py
  tests/datasets/test_delta_timestamps.py
  tests/datasets/test_sampler.py
  tests/datasets/test_utils.py
  tests/fixtures/constants.py
  tests/fixtures/dataset_factories.py
  tests/fixtures/files.py
  tests/fixtures/hub.py
  tests/policies/test_policies.py
  tests/test_control_robot.py
  tests/utils/test_replay_buffer.py
Labels: documentation, enhancement, dataset

#1961 performance(processor): reorder output steps to improve performance
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  tests/processor/test_act_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_pi0_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_smolvla_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_vqbet_processor.py
Labels: performance, processor

#1968 feat(processor): implement migration detection and error handling for processor configurations
  src/lerobot/processor/pipeline.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_processor.py
  tests/processor/test_classifier_processor.py
  tests/processor/test_device_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_migration_detection.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_pipeline.py
  tests/processor/test_pipeline_from_pretrained_helpers.py
  tests/processor/test_rename_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
Labels: refactor, processor

#1953 fix(processor) RL
  docs/source/hilserl.mdx
  docs/source/hilserl_sim.mdx
  docs/source/il_sim.mdx
  docs/source/processors_robots_teleop.mdx
  src/lerobot/processor/__init__.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/hil_processor.py
  src/lerobot/processor/policy_robot_bridge.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/teleoperators/gamepad/gamepad_utils.py
  tests/processor/test_policy_robot_bridge.py
Labels: refactor, processor

#1984 feat(sim): Add Libero Env
  docker/Dockerfile.internal
  docker/Dockerfile.user
  docs/source/_toctree.yml
  docs/source/libero.mdx
  pyproject.toml
  src/lerobot/envs/configs.py
  src/lerobot/envs/factory.py
  src/lerobot/envs/libero.py
  src/lerobot/envs/utils.py
  src/lerobot/scripts/eval.py
  src/lerobot/scripts/train.py
  tests/envs/test_envs.py
  tests/policies/test_policies.py
Labels: enhancement, simulation

#1989 Updated Readme removed broken link
  README.md
Labels: documentation

#1985 Add Quantile stats to LeRobotDataset
  src/lerobot/configs/types.py
  src/lerobot/datasets/compute_stats.py
  src/lerobot/datasets/v30/augment_dataset_quantile_stats.py
  src/lerobot/processor/normalize_processor.py
  tests/datasets/test_compute_stats.py
  tests/datasets/test_quantiles_dataset_integration.py
  tests/processor/test_normalize_processor.py
Labels: policies

#2016 chore: move constants to utils
  examples/training/train_with_streaming.py
  src/lerobot/configs/policies.py
  src/lerobot/datasets/lerobot_dataset.py
  src/lerobot/datasets/pipeline_features.py
  src/lerobot/datasets/streaming_dataset.py
  src/lerobot/datasets/v30/convert_dataset_v21_to_v30.py
  src/lerobot/envs/configs.py
  src/lerobot/optim/optimizers.py
  src/lerobot/optim/schedulers.py
  src/lerobot/policies/act/modeling_act.py
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/modeling_diffusion.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/factory.py
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/modeling_pi0fast.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/configuration_sac.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/sac/reward_model/modeling_classifier.py
  src/lerobot/policies/smolvla/modeling_smolvla.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/modeling_tdmpc.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/modeling_vqbet.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/joint_observations_processor.py
  src/lerobot/processor/observation_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/processor/tokenizer_processor.py
  src/lerobot/rl/learner.py
  src/lerobot/robots/robot.py
  src/lerobot/robots/stretch3/robot_stretch3.py
  src/lerobot/robots/viperx/viperx.py
  src/lerobot/scripts/server/helpers.py
  src/lerobot/teleoperators/teleoperator.py
  src/lerobot/utils/constants.py
  src/lerobot/utils/random_utils.py
  src/lerobot/utils/train_utils.py
  src/lerobot/utils/wandb_utils.py
  tests/datasets/test_datasets.py
  tests/fixtures/constants.py
  tests/optim/test_optimizers.py
  tests/optim/test_schedulers.py
  tests/policies/test_policies.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_processor.py
  tests/processor/test_classifier_processor.py
  tests/processor/test_device_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_observation_processor.py
  tests/processor/test_pi0_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_smolvla_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
  tests/utils/test_train_utils.py
Labels: python

#2018 chore(scripts): move find_cameras to scripts
  pyproject.toml
  src/lerobot/scripts/lerobot_find_cameras.py
Labels: python

#2023 chore(scripts): move teleop to scripts
  pyproject.toml
  src/lerobot/scripts/lerobot_teleoperate.py
  tests/test_control_robot.py
Labels: python

#2022 chore(scripts): move record to scripts
  examples/lekiwi/evaluate.py
  examples/lekiwi/record.py
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/so100_to_so100_EE/evaluate.py
  examples/so100_to_so100_EE/record.py
  pyproject.toml
  src/lerobot/scripts/lerobot_record.py
  tests/test_control_robot.py
Labels: python

#2024 chore(scripts): move calibrate to scripts
  pyproject.toml
  src/lerobot/scripts/lerobot_calibrate.py
  tests/test_control_robot.py
Labels: python

#2026 fix(docs): update outdated links
  docs/source/koch.mdx
  docs/source/lekiwi.mdx
  docs/source/smolvla.mdx
  docs/source/so100.mdx
  docs/source/so101.mdx
Labels: documentation

#2031 chore(utils): remove unused utils legacy functions + rename init_rerun
  docs/source/il_robots.mdx
  examples/lekiwi/evaluate.py
  examples/lekiwi/record.py
  examples/lekiwi/teleoperate.py
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/teleoperate.py
  examples/so100_to_so100_EE/evaluate.py
  examples/so100_to_so100_EE/record.py
  examples/so100_to_so100_EE/teleoperate.py
  src/lerobot/scripts/lerobot_record.py
  src/lerobot/scripts/lerobot_teleoperate.py
  src/lerobot/utils/robot_utils.py
  src/lerobot/utils/train_utils.py
  src/lerobot/utils/utils.py
  src/lerobot/utils/visualization_utils.py
Labels: python

#2032 (docs): small change in dataset name
  docs/source/libero.mdx
Labels: documentation

#2033 chore(scripts): rename eval and train scripts
  pyproject.toml
  src/lerobot/scripts/lerobot_eval.py
  src/lerobot/scripts/lerobot_train.py
Labels: python

#2056 chore: replace hard-coded next values with constants throughout all the source code
  src/lerobot/datasets/factory.py
  src/lerobot/processor/converters.py
  src/lerobot/rl/buffer.py
  src/lerobot/rl/crop_dataset_roi.py
  src/lerobot/rl/gym_manipulator.py
  src/lerobot/scripts/lerobot_dataset_viz.py
  src/lerobot/scripts/lerobot_eval.py
  tests/datasets/test_datasets.py
  tests/policies/hilserl/test_modeling_classifier.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_converters.py
  tests/processor/test_pipeline.py
  tests/utils/test_replay_buffer.py
Labels: enhancement, python

#2060 docs(fix): libero example command
  docs/source/libero.mdx
Labels: documentation

#2062 chore: remove unused code
  docs/source/hilserl.mdx
  docs/source/phone_teleop.mdx
  docs/source/processors_robots_teleop.mdx
  examples/phone_to_so100/record.py
  examples/phone_to_so100/teleoperate.py
  examples/so100_to_so100_EE/record.py
  examples/so100_to_so100_EE/teleoperate.py
  src/lerobot/async_inference/helpers.py
  src/lerobot/cameras/utils.py
  src/lerobot/configs/default.py
  src/lerobot/configs/types.py
  src/lerobot/datasets/lerobot_dataset.py
  src/lerobot/datasets/push_dataset_to_hub/utils.py
  src/lerobot/datasets/streaming_dataset.py
  src/lerobot/datasets/utils.py
  src/lerobot/datasets/video_utils.py
  src/lerobot/envs/configs.py
  src/lerobot/motors/motors_bus.py
  src/lerobot/policies/sac/configuration_sac.py
  src/lerobot/policies/sac/modeling_sac.py
  src/lerobot/policies/vqbet/configuration_vqbet.py
  src/lerobot/policies/vqbet/vqbet_utils.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/rl/actor.py
  src/lerobot/rl/learner.py
  src/lerobot/robots/hope_jr/hope_jr_arm.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/robots/stretch3/configuration_stretch3.py
  src/lerobot/robots/stretch3/robot_stretch3.py
  src/lerobot/teleoperators/gamepad/gamepad_utils.py
  src/lerobot/teleoperators/keyboard/configuration_keyboard.py
  src/lerobot/teleoperators/stretch3_gamepad/configuration_stretch3.py
  src/lerobot/teleoperators/stretch3_gamepad/stretch3_gamepad.py
  src/lerobot/utils/constants.py
  src/lerobot/utils/errors.py
  src/lerobot/utils/utils.py
  tests/policies/test_sac_config.py
Labels: python

#2063 feat(policies): add noise parameter to action prediction methods
  src/lerobot/policies/diffusion/modeling_diffusion.py
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/pretrained.py
Labels: policies

#2090 feat(train): include input and output features in processor overrides for normalization
  src/lerobot/scripts/lerobot_train.py
Labels: bug, processor
