Repository huggingface/lerobot, pull requests merged in 2025-08, with the labels that each got.

#1642 fix(ci): declare entrypoints + fix testing release
  .github/workflows/release.yml
  src/lerobot/calibrate.py
  src/lerobot/find_cameras.py
  src/lerobot/find_port.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/scripts/eval.py
  src/lerobot/scripts/train.py
  src/lerobot/setup_motors.py
  src/lerobot/teleoperate.py
Labels: bug, CI

#1643 feat(ci): release workflow publish to pypi test + lock files
  .github/workflows/release.yml
  docs-requirements.txt
  docs/README.md
  pyproject.toml
  requirements-macos.txt
  requirements-ubuntu.txt
  requirements.in
Labels: enhancement, CI

#1646 fix(ci): change steps based on wheter it is a -rc tag
  .github/workflows/release.yml
Labels: bug, CI

#1649 chore(ci): Bump to v0.3.0
  pyproject.toml
Labels: CI, dependencies

#1651 fix(ci): remove uv run + bump minor
  .github/workflows/release.yml
  pyproject.toml
Labels: bug, CI

#1652 fix(ci): create venv for release testing
  .github/workflows/release.yml
  pyproject.toml
Labels: bug, CI

#1313 fix(docs): Update links in il_robots.mdx and il_sim.mdx to use absolute URLs
  docs/source/il_robots.mdx
  docs/source/il_sim.mdx
Labels: bug, documentation

#1684 refactor(pipeline): minor improvements
  src/lerobot/processor/__init__.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/observation_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/processor/rename_processor.py
  tests/processor/test_observation_processor.py
  tests/processor/test_pipeline.py
Labels: enhancement, refactor

#1431 feat(pipeline): universal processor for LeRobot
  src/lerobot/processor/__init__.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/observation_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/processor/rename_processor.py
  tests/conftest.py
  tests/processor/test_batch_conversion.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_observation_processor.py
  tests/processor/test_pipeline.py
  tests/processor/test_rename_processor.py
Labels: enhancement, refactor

#1689 fix(deps): ceil torch pkg versions
  pyproject.toml
Labels: bug, CI, dependencies

#1690 chore: Bump to 0.3.3
  pyproject.toml
Labels: dependencies

#1735 fix(ci): rename libegl1-mesa in deb13 trixie
  docker/Dockerfile.user
Labels: bug, CI

#1757 refactor(processor): euclidean distance in delta action processor
  src/lerobot/processor/delta_action_processor.py
Labels: enhancement, refactor

#1760 fix(processors): fix float comparison and config in hil processors
  src/lerobot/processor/hil_processor.py
Labels: bug

#1756 refactor(processor): improvements normalize pipeline migration
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/rename_processor.py
  src/lerobot/record.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_rename_processor.py
Labels: enhancement, refactor

#1740 fix(dataset): Correctly use episode_data parameter in save_episode
  src/lerobot/datasets/lerobot_dataset.py
Labels: bug, dataset

#1796 feat(processor): fix improvements to the pipeline porting
  examples/phone_to_so100/record.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/processor/converters.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/teleoperators/phone/phone_processor.py
  src/lerobot/teleoperators/phone/teleop_phone.py
  tests/processor/test_batch_processor.py
  tests/processor/test_tokenizer_processor.py
Labels: processor

#1749 feat(processor): multiple improvements to the pipeline porting
  docs/source/hilserl.mdx
  docs/source/hilserl_sim.mdx
  docs/source/il_sim.mdx
  examples/lekiwi/evaluate.py
  examples/phone_to_so100/evaluate.py
  examples/phone_to_so100/record.py
  examples/phone_to_so100/replay.py
  examples/phone_to_so100/teleoperate.py
  src/lerobot/policies/act/modeling_act.py
  src/lerobot/policies/act/processor_act.py
  src/lerobot/policies/diffusion/processor_diffusion.py
  src/lerobot/policies/factory.py
  src/lerobot/policies/pi0/processor_pi0.py
  src/lerobot/policies/pi0fast/processor_pi0fast.py
  src/lerobot/policies/sac/processor_sac.py
  src/lerobot/policies/smolvla/processor_smolvla.py
  src/lerobot/policies/tdmpc/processor_tdmpc.py
  src/lerobot/policies/vqbet/processor_vqbet.py
  src/lerobot/processor/__init__.py
  src/lerobot/processor/batch_processor.py
  src/lerobot/processor/converters.py
  src/lerobot/processor/delta_action_processor.py
  src/lerobot/processor/device_processor.py
  src/lerobot/processor/gym_action_processor.py
  src/lerobot/processor/hil_processor.py
  src/lerobot/processor/joint_observations_processor.py
  src/lerobot/processor/normalize_processor.py
  src/lerobot/processor/pipeline.py
  src/lerobot/processor/rename_processor.py
  src/lerobot/processor/tokenizer_processor.py
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/robots/so100_follower/robot_kinematic_processor.py
  src/lerobot/robots/utils.py
  src/lerobot/scripts/rl/actor.py
  src/lerobot/scripts/rl/gym_manipulator.py
  src/lerobot/scripts/train.py
  src/lerobot/teleoperate.py
  src/lerobot/teleoperators/keyboard/teleop_keyboard.py
  src/lerobot/teleoperators/phone/phone.py
  src/lerobot/teleoperators/phone/phone_processor.py
  src/lerobot/teleoperators/phone/teleop_phone.py
  tests/artifacts/policies/save_policy_to_safetensors.py
  tests/policies/test_policies.py
  tests/processor/test_act_processor.py
  tests/processor/test_batch_processor.py
  tests/processor/test_diffusion_processor.py
  tests/processor/test_normalize_processor.py
  tests/processor/test_pi0_processor.py
  tests/processor/test_rename_processor.py
  tests/processor/test_sac_processor.py
  tests/processor/test_smolvla_processor.py
  tests/processor/test_tdmpc_processor.py
  tests/processor/test_tokenizer_processor.py
  tests/processor/test_vqbet_processor.py
Labels: bug, enhancement, refactor, processor
