Repository huggingface/lerobot, pull requests merged in 2025-05, with the labels that each got.

#1064 Docs: adapt text + fix video code
  docs/source/assemble_so101.mdx
  docs/source/index.mdx
Labels: documentation, enhancement

#1070 Fix typos
  README.md
  docs/source/assemble_so101.mdx
  docs/source/getting_started_real_world_robot.mdx
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/12_use_so101.md
  examples/2_evaluate_pretrained_policy.py
  examples/3_train_policy.py
  examples/4_train_policy_with_script.md
  examples/7_get_started_with_real_robot.md
  examples/8_use_stretch.md
  examples/9_use_aloha.md
  examples/advanced/2_calculate_validation_loss.py
  lerobot/common/datasets/factory.py
  lerobot/common/datasets/transforms.py
  lerobot/scripts/eval.py
Labels: documentation

#1075 fix(teleoperators): use property is_connected
  lerobot/common/teleoperators/keyboard/teleop_keyboard.py
Labels: bug, robots

#944 Update 10_use_so100.md; use diff syntax
  examples/10_use_so100.md
Labels: documentation, enhancement

#1081 Update 12_use_so101.md
  examples/12_use_so101.md
Labels: documentation

#1073 bug fix for #1071 When --display_data=true, Failed running control_robot.
  lerobot/common/robot_devices/control_utils.py
Labels: bug, visualization

#1133 Add editable -e for feetech install command
  docs/source/installation.mdx
  examples/12_use_so101.md
Labels: bug, documentation

#1148 fix: typos and grammar
  examples/11_use_moss.md
  lerobot/common/datasets/image_writer.py
  lerobot/common/datasets/lerobot_dataset.py
  lerobot/common/datasets/video_utils.py
  lerobot/common/policies/pi0/modeling_pi0.py
  lerobot/common/policies/pi0fast/modeling_pi0fast.py
Labels: documentation

#1127 [Fix] Unpin torch beyond 2.6.0 & torchcodec beyond 0.2.1
  pyproject.toml
  tests/artifacts/image_transforms/default_transforms.safetensors
  tests/artifacts/image_transforms/save_image_transforms_to_safetensors.py
  tests/artifacts/image_transforms/single_transforms.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_/actions.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_/grad_stats.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_/output_dict.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_/param_stats.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_1000_steps/actions.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_1000_steps/grad_stats.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_1000_steps/output_dict.safetensors
  tests/artifacts/policies/aloha_sim_insertion_human_act_1000_steps/param_stats.safetensors
  tests/datasets/test_image_transforms.py
  tests/optim/test_schedulers.py
  tests/policies/test_policies.py
Labels: bug, CI
