Repository huggingface/lerobot, pull requests merged in 2025-07, with the labels that each got.

#1396 feat: Add fixes and refactor lekiwi example
  examples/lekiwi/evaluate.py
  examples/lekiwi/record.py
  examples/lekiwi/replay.py
  examples/lekiwi/teleoperate.py
  src/lerobot/record.py
  src/lerobot/robots/lekiwi/lekiwi_client.py
  src/lerobot/teleoperate.py
  src/lerobot/utils/visualization_utils.py
Labels: refactor, robots

#1430 Update pyproject.toml to make package installable with pip
  pyproject.toml
Labels: bug, dependencies

#1455 Fixes `@torch.no_grad()` usage
  src/lerobot/policies/act/modeling_act.py
  src/lerobot/policies/diffusion/modeling_diffusion.py
  src/lerobot/policies/normalize.py
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/pi0fast/modeling_pi0fast.py
  src/lerobot/policies/sac/modeling_sac.py
  src/lerobot/policies/smolvla/modeling_smolvla.py
  src/lerobot/policies/tdmpc/modeling_tdmpc.py
  src/lerobot/policies/vqbet/modeling_vqbet.py
Labels: bug, policies

#1457 refactor(async): drops argparse in favor of draccus
  src/lerobot/scripts/server/configs.py
  src/lerobot/scripts/server/constants.py
  src/lerobot/scripts/server/helpers.py
  src/lerobot/scripts/server/policy_server.py
  src/lerobot/scripts/server/robot_client.py
Labels: refactor

#1466 fix(logging): Fixing logging levels
  src/lerobot/utils/utils.py
Labels: bug, visualization

#1464 refactor(async): multiple minor fixes
  src/lerobot/scripts/server/configs.py
  src/lerobot/scripts/server/helpers.py
  src/lerobot/scripts/server/policy_server.py
  src/lerobot/scripts/server/robot_client.py
  tests/async_inference/test_e2e.py
  tests/async_inference/test_policy_server.py
  tests/async_inference/test_robot_client.py
Labels: bug, refactor

#1196 Add Async Inference
  docs/source/_toctree.yml
  docs/source/async.mdx
  pyproject.toml
  src/lerobot/scripts/server/configs.py
  src/lerobot/scripts/server/constants.py
  src/lerobot/scripts/server/helpers.py
  src/lerobot/scripts/server/policy_server.py
  src/lerobot/scripts/server/robot_client.py
  src/lerobot/transport/async_inference.proto
  src/lerobot/transport/async_inference_pb2.py
  src/lerobot/transport/async_inference_pb2_grpc.py
  tests/async_inference/test_e2e.py
  tests/async_inference/test_helpers.py
  tests/async_inference/test_policy_server.py
  tests/async_inference/test_robot_client.py
Labels: enhancement, performance

#1173 Add support for delta timesteps streaming
  .cache/calibration/so100/main_follower.json
  .cache/calibration/so100/main_leader.json
  lerobot/common/datasets/profile_streaming_dataset.py
  lerobot/common/datasets/streaming_dataset.py
  lerobot/common/datasets/utils.py
  tests/async/test_async.py
Labels: enhancement, dataset

#1509 Feat/add bimanual so100 robot
  src/lerobot/record.py
  src/lerobot/replay.py
  src/lerobot/robots/bi_so100_follower/__init__.py
  src/lerobot/robots/bi_so100_follower/bi_so100_follower.py
  src/lerobot/robots/bi_so100_follower/config_bi_so100_follower.py
  src/lerobot/robots/so100_follower/config_so100_follower.py
  src/lerobot/robots/utils.py
  src/lerobot/teleoperate.py
  src/lerobot/teleoperators/bi_so100_leader/__init__.py
  src/lerobot/teleoperators/bi_so100_leader/bi_so100_leader.py
  src/lerobot/teleoperators/bi_so100_leader/config_bi_so100_leader.py
  src/lerobot/teleoperators/utils.py
Labels: robots

#1525 feat(ci): add new & clean Dockerfiles
  .github/workflows/test-docker-build.yml
  docker/Dockerfile.internal
  docker/Dockerfile.user
  pyproject.toml
Labels: enhancement, CI, refactor

#1545 Advise placement of cable during assembly, clarify USB instructions
  src/lerobot/robots/so101_follower/so101.mdx
Labels: documentation

#1549 fix(ci): multiple fixes
  .github/workflows/fast_tests.yml
  .github/workflows/full_tests.yml
  .github/workflows/nightly.yml
  docs/source/hope_jr.mdx
  docs/source/koch.mdx
  docs/source/lekiwi.mdx
  docs/source/so100.mdx
  docs/source/so101.mdx
  src/lerobot/robots/hope_jr/hope_jr.mdx
  src/lerobot/robots/koch_follower/koch.mdx
  src/lerobot/robots/lekiwi/lekiwi.mdx
  src/lerobot/robots/so100_follower/so100.mdx
  src/lerobot/robots/so101_follower/so101.mdx
Labels: bug, CI

#1528 fix: calibration workflow when using robot_id with existing calibration files
  src/lerobot/robots/koch_follower/koch_follower.py
  src/lerobot/robots/lekiwi/lekiwi.py
  src/lerobot/robots/so100_follower/so100_follower.py
  src/lerobot/robots/so101_follower/so101_follower.py
  src/lerobot/teleoperators/koch_leader/koch_leader.py
  src/lerobot/teleoperators/so100_leader/so100_leader.py
  src/lerobot/teleoperators/so101_leader/so101_leader.py
Labels: bug, refactor, robots, teleoperators

#1550 Add disclaimer to pi0 from_pretrained
  src/lerobot/policies/pi0/modeling_pi0.py
  src/lerobot/policies/pi0fast/modeling_pi0fast.py
Labels: documentation, policies

#1562 feat(ci): add release workflow
  .github/workflows/full_tests.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Makefile
  docker/Dockerfile.internal
Labels: enhancement, CI

#1589 feat(ci): add entrypoints + add version checks + add minimal release testing + uncomment publishing to pypi
  .github/workflows/full_tests.yml
  .github/workflows/release.yml
  pyproject.toml
Labels: enhancement, CI

#1445 Fixing all broken links in integrate_hardware document
  docs/source/hilserl.mdx
  docs/source/il_robots.mdx
  docs/source/integrate_hardware.mdx
Labels: bug, documentation

#1584 docs/style: updating docs and deprecated links
  docs/source/hilserl.mdx
  docs/source/il_robots.mdx
  docs/source/lekiwi.mdx
  src/lerobot/__init__.py
  src/lerobot/robots/viperx/README.md
  tests/async_inference/test_robot_client.py
Labels: documentation

#1609 fix(policies): remove action from batch for offline evaluation
  src/lerobot/policies/diffusion/modeling_diffusion.py
  src/lerobot/policies/tdmpc/modeling_tdmpc.py
  src/lerobot/policies/vqbet/modeling_vqbet.py
Labels: bug

#1320 fix(config): typing correction on config.py
  src/lerobot/envs/configs.py
Labels: enhancement, configuration
