Repository huggingface/lerobot, pull requests merged in 2025-10, with the labels that each got.

#2099 feat(mypy): enable type checking for envs module and configure mypy settings in pyproject.toml
  .pre-commit-config.yaml
  pyproject.toml
Labels: CI, refactor, python

#2048 Making Envs module pass MyPy checks
  .pre-commit-config.yaml
  pyproject.toml
  src/lerobot/envs/configs.py
  src/lerobot/envs/factory.py
  src/lerobot/envs/utils.py
Labels: tests, refactor

#2091 feat(deps): ceil dependency versions
  .github/workflows/unbound_deps_tests.yml
  docker/Dockerfile.internal
  docker/Dockerfile.user
  pyproject.toml
Labels: enhancement, CI, dependencies, python

#2117 Update README.md to fix broken link to example notebook for visuals
  README.md
Labels: documentation

#2132 fix(async): Add pre and post processing to async inference and update docs
  docs/source/async.mdx
  src/lerobot/async_inference/constants.py
  src/lerobot/async_inference/helpers.py
  src/lerobot/async_inference/policy_server.py
  src/lerobot/async_inference/robot_client.py
  tests/async_inference/test_e2e.py
  tests/async_inference/test_helpers.py
  tests/async_inference/test_policy_server.py
Labels: policies, robots, processor
