Repository huggingface/lerobot, pull requests merged in 2025-04, with the labels that each got.

#921 Support for PI0+FAST
  lerobot/common/envs/utils.py
  lerobot/common/policies/factory.py
  lerobot/common/policies/pi0fast/configuration_pi0fast.py
  lerobot/common/policies/pi0fast/modeling_pi0fast.py
  lerobot/common/policies/tdmpc/modeling_tdmpc.py
  lerobot/scripts/eval.py
  lerobot/scripts/train.py
Labels: policies

#953 Switch typos pre-commit to mirror
  .pre-commit-config.yaml
Labels: CI

#903 feat(visualization): replace cv2 GUI with Rerun (and solves ffmpeg versioning issues)
  README.md
  benchmarks/video/capture_camera_feed.py
  examples/10_use_so100.md
  examples/11_use_lekiwi.md
  examples/11_use_moss.md
  examples/2_evaluate_pretrained_policy.py
  examples/7_get_started_with_real_robot.md
  examples/8_use_stretch.md
  examples/9_use_aloha.md
  lerobot/common/policies/pi0/modeling_pi0.py
  lerobot/common/robot_devices/control_configs.py
  lerobot/common/robot_devices/control_utils.py
  lerobot/scripts/control_robot.py
  pyproject.toml
  tests/robots/test_control_robot.py
Labels: enhancement, dependencies, visualization

#976 fix(installation): adding note on `ffmpeg` version during installation
  README.md
  examples/7_get_started_with_real_robot.md
Labels: documentation

#697 Fix broken links in `examples/4_train_policy_with_script.md`
  examples/4_train_policy_with_script.md
Labels: bug, documentation

#647 Fix Windows HTML visualization to make videos could be seen
  lerobot/scripts/visualize_dataset_html.py
Labels: bug, visualization

#556 Fix --width --height type parsing on opencv and intelrealsense scripts
  lerobot/common/robot_devices/cameras/intelrealsense.py
  lerobot/common/robot_devices/cameras/opencv.py
Labels: bug, robots

#966 [HIL-SERl PORT] Unit tests for Replay Buffer
  lerobot/scripts/server/buffer.py
  tests/server/test_replay_buffer.py
Labels: enhancement, policies, tests

#1022 fix(ci): Pin draccus (<0.10.0) and torch (<2.7) to fix pipeline
  pyproject.toml
Labels: bug, CI, dependencies

#1021 Update tutorial
  README.md
  examples/10_use_so100.md
  examples/12_use_so101.md
  lerobot/__init__.py
  lerobot/common/robot_devices/robots/configs.py
  lerobot/common/robot_devices/robots/feetech_calibration.py
  lerobot/common/robot_devices/robots/manipulator.py
  lerobot/common/robot_devices/robots/utils.py
  media/so101/follower_middle.webp
  media/so101/follower_rest.webp
  media/so101/follower_rotated.webp
  media/so101/follower_zero.webp
  media/so101/leader_middle.webp
  media/so101/leader_rest.webp
  media/so101/leader_rotated.webp
  media/so101/leader_zero.webp
  media/so101/so101-leader.webp
  media/so101/so101.webp
Labels: documentation, enhancement, robots

#1051 Add description motor order SO-101 leader
  examples/12_use_so101.md
Labels: documentation, robots

#983 feat(encoding): switching to PyAV for ffmpeg related tasks
  benchmarks/video/run_video_benchmark.py
  lerobot/common/datasets/video_utils.py
  pyproject.toml
Labels: enhancement, dependencies
